* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #333;
}

.map {
  width: 96.5%;
  height: 100%;
  overflow: scroll;
  align-self: flex-start;
}

.page-wrap {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: -webkit-linear-gradient(left top, #333 50%, #444 50%);
  background: -moz-linear-gradient(left top, #333 50%, #444 50%);
  background: -o-linear-gradient(left top, #333 50%, #444 50%);
  background: linear-gradient(to right bottom, #333 50%, #444 50%);
}

#home-slider {
  height: 90vh;
  width: 95vw;
  position: relative;
}

.swiper-container {
  height: 100%;
  width: 100%;
}

.swiper-image {
  width: 50%;
  height: 100%;
}

.swiper-image-map {
  width: 100%;
  height: 100%;
}

.swiper-image-one {
  background-image: url('./../images/3.jpg');
}

.swiper-image-two {
  background-image: url('./../images/30.jpg');
}

.swiper-image-three {
  background-image: url('./../images/4.jpg');
}

.swiper-image-four {
  background-image: url('./../images/29.jpg');
}

.swiper-image-five {
  background-image: url('./../images/5.jpg');
}

.swiper-image-six {
  background-image: url('./../images/28.jpg');
}

.swiper-image-seven {
  background-image: url('./../images/6.jpg');
}

.swiper-image-eight {
  background-image: url('./../images/27.jpg');
}

.swiper-image-nine {
  background-image: url('./../images/7.jpg');
}

.swiper-image-ten {
  background-image: url('./../images/26.png');
}

.swiper-image-eleven {
  background-image: url('./../images/8.jpg');
}

.swiper-image-twelve {
  background-image: url('./../images/25.jpg');
}

.swiper-image-thirteen {
  background-image: url('./../images/9.jpg');
}

.swiper-image-fourteen {
  background-image: url('./../images/24.jpg');
}

.swiper-image-fifteen {
  background-image: url('./../images/10.jpg');
}

.swiper-image-sixteen {
  background-image: url('./../images/20.jpg');
}

.swiper-image-seventeen {
  background-image: url('./../images/11.jpg');
}

.swiper-image-eighteen {
  background-image: url('./../images/23.jpg');
}

.swiper-image-nineteen {
  background-image: url('./../images/22.jpg');
}

.swiper-image-twenty {
  background-image: url('./../images/12.jpg');
}

.swiper-image-twenty-one {
  background-image: url('./../images/13.jpg');
}

.swiper-image-twenty-two {
  background-image: url('./../images/21.jpg');
}

.swiper-image-twenty-three {
  background-image: url('./../images/14.jpg');
}

.swiper-image-twenty-four {
  background-image: url('./../images/19.jpg');
}

.swiper-image-twenty-five {
  background-image: url('./../images/15.jpg');
}

.swiper-image-twenty-six {
  background-image: url('./../images/18.jpg');
}

.swiper-image-twenty-seven {
  background-image: url('./../images/16.jpg');
}

.swiper-image-twenty-eight {
  background-image: url('./../images/17.jpg');
}

.swiper-image-inner {
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: overlay;
}

.swiper-image-left {
  -webkit-filter: sepia(100%);
  filter: sepia(100%);
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
  padding: 0;
}

.swiper-slide.swiper-slide-active .swiper-image-left {
  -webkit-filter: sepia(0%);
  filter: sepia(0%);
}

.swiper-image-right {
  -webkit-filter: hue-rotate(180deg);
  filter: hue-rotate(180deg);
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
}

h2 {
  font-family: 'Cormorant Garamond', serif;
  color: #fff;
  align-self: flex-start;
  margin: 0 0 auto 0;
  font-size: 4.5rem;
  line-height: 1;
  -webkit-transition: all .8s cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
  transition: all .8s cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
  -webkit-transform: translate3d(-20%, 0, 0);
  transform: translate3d(-20%, 0, 0);
  opacity: 0;
  font-weight: 700;
  font-style: italic;
  width: 80%;
  padding: 1em;
}

.paragraph {
  font-family: 'Cormorant Garamond', serif;
  color: #fff;
  width: 80%;
  text-align: left;
  font-size: 1.2rem;
  font-weight: 500;
  opacity: 0;
  -webkit-transition: all .6s cubic-bezier(0.215, 0.61, 0.355, 1) 1s;
  transition: all .6s cubic-bezier(0.215, 0.61, 0.355, 1) 1s;
  -webkit-transform: translate3d(-20%, 0, 0);
  transform: translate3d(-20%, 0, 0);
  overflow: auto;
  margin: 3em 0;
}

.swiper-slide.swiper-slide-active .swiper-image-right {
  -webkit-filter: hue-rotate(90deg);
  filter: hue-rotate(90deg);
}

.swiper-slide.swiper-slide-active h2,
.swiper-slide.swiper-slide-active p.paragraph {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

.swiper-container {
  margin: auto;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.swiper-wrapper {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  box-sizing: content-box;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #333;
  overflow: hidden;
  display: flex;
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  -webkit-transition: 300ms;
  transition: 300ms;
  z-index: 10;
}

.swiper-pagination-bullets {
  right: 1em;
  bottom: 1em;
}

.swiper-pagination-bullet {
  width: 0.8em;
  height: 0.8em;
  background: rgba(255, 255, 255, 0.4);
  cursor: pointer;
  margin: 0.3em 0;
  display: block;
}

.swiper-pagination-bullet-active {
  background: #fff;
}

@media (max-width: 1280px) {
  h2 {
    font-size: 4em;
  }
  .paragraph {
    font-size: 1em;
    line-height: 1.3;
  }
}

@media (max-width: 960px) {
  h2 {
    font-size: 3.5em;
  }
}

@media (max-width: 640px) {
  #home-slider{
    height: 100vh;
    width: 100vw;
  }
  h2 {
    font-size: 2em;
    align-self: center;
  }
  .paragraph {
    max-width: 94%;
  }
}
