* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
	font-family: 'Cormorant Garamond';
	src: url('./../fonts/CormorantGaramond-BoldItalic.eot');
	src: local('Cormorant Garamond Bold Italic'), local('CormorantGaramond-BoldItalic'),
		url('./../fonts/CormorantGaramond-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('./../fonts/CormorantGaramond-BoldItalic.woff2') format('woff2'),
		url('./../fonts/CormorantGaramond-BoldItalic.woff') format('woff'),
		url('./../fonts/CormorantGaramond-BoldItalic.ttf') format('truetype'),
		url('./../fonts/CormorantGaramond-BoldItalic.svg#CormorantGaramond-BoldItalic') format('svg');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto';
	src: url('./../fonts/Roboto-Black.eot');
	src: local('Roboto Black'), local('Roboto-Black'),
		url('./../fonts/Roboto-Black.eot?#iefix') format('embedded-opentype'),
		url('./../fonts/Roboto-Black.woff2') format('woff2'),
		url('./../fonts/Roboto-Black.woff') format('woff'),
		url('./../fonts/Roboto-Black.ttf') format('truetype'),
		url('./../fonts/Roboto-Black.svg#Roboto-Black') format('svg');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Cormorant Garamond';
	src: url('./../fonts/CormorantGaramond-Medium.eot');
	src: local('Cormorant Garamond Medium'), local('CormorantGaramond-Medium'),
		url('./../fonts/CormorantGaramond-Medium.eot?#iefix') format('embedded-opentype'),
		url('./../fonts/CormorantGaramond-Medium.woff2') format('woff2'),
		url('./../fonts/CormorantGaramond-Medium.woff') format('woff'),
		url('./../fonts/CormorantGaramond-Medium.ttf') format('truetype'),
		url('./../fonts/CormorantGaramond-Medium.svg#CormorantGaramond-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

.page-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: -webkit-linear-gradient(left top, #333 50%, #444 50%);
  background: -moz-linear-gradient(left top, #333 50%, #444 50%);
  background: -o-linear-gradient(left top, #333 50%, #444 50%);
  background: linear-gradient(to right bottom, #333 50%, #444 50%);
  background-attachment: fixed;
}

.container {
  width: 90%;
  height: 100%;
}

.slide {
  width: 100%;
  height: 200vh;
}

.image-title {
  background-image: url('./../images/title.jpg');
  background-position: center;
  background-size: cover;
  justify-content: flex-start;
  width: 100%;
  height: 100vh;
  h1 {
    color: transparent;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    padding: 2em;
    font-size: 0.7em;
  }
}

.logo {
  color: transparent;
  font-size: 2em;
  font-weight: 900;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -o-text-fill-color: transparent;
  -webkit-text-stroke: 0.05em white;
  -o-text-stroke: 0.05em white;
}

.map {
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.dragscroll {
  overflow: scroll;
  cursor: grab;
  cursor: -o-grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.map > img {
  width: 467px;
  height: 443.5625px;
}

.plus, .minus {
  position: absolute;
  bottom: 2.5em;
  right: 1em;
  cursor: pointer;
  background: white;
  border-radius: 50%;
  width: 1.3em;
  height: 1.3em;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3em;
}

.minus {
  bottom: 1em;
}

.image-map {
  position: relative;
  width: 100%;
  height: 100vh;
}

@for $i	from 1 through 42 {
  @if $i == 10 {
    .image-#{$i}	{	background-image:	url('./../images/#{$i}.png');	}
  }
  @else {
    .image-#{$i}	{	background-image:	url('./../images/#{$i}.jpg');	}
  }
}

.image-small, .image-medium, .image-big {
  background-size: cover;
  background-position: center;
}

.image-big {
  width: 100%;
  height: 100vh;
  position: relative;
  .name {
    background: rgba(255, 255, 255, 0.5);
    height: 100%;
    width: 65%;
    position: absolute;
    top: 0;
    left: 0vw;
    h2 {
      padding-top: 20vh;
      font-size: 1.6em;
    }
  }
}

.info {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 50vh;
    background-color: #333;
    font-size: 0.7em;
  }
  .text-1 {
    align-self: flex-start;
    padding-bottom: 5vh;
  }
  .text-2 {
    position: absolute;
    bottom: 0;
    left: 25%;
    width: 30%;
    height: 43vh;
    background: #555;
    z-index: 1;
  }
  .image-medium {
    width: 50%;
    height: 90vh;
  }
  .image-small {
    position: absolute;
    left: 0;
    bottom: 5vh;
    width: 30%;
    height: 50vh;
  }
}

h2 {
  font-size: 2em;
  align-self: center;
  font-family: 'Cormorant Garamond', serif;
  color: #333;
  line-height: 1;
  font-weight: bold;
  font-style: italic;
  padding: 1em;
}

.paragraph {
  width: 80%;
  font-family: 'Cormorant Garamond', serif;
  color: #fff;
  text-align: left;
  font-size: 1em;
  font-weight: 500;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 1em 0;
}

@media (min-width: 320px) and (orientation: landscape) {
  .plus, .minus {
    bottom: 2.5em;
    right: 0.7em;
    width: 1.2em;
    height: 1.2em;
    font-size: 1.2em;
  }
  .minus {
    bottom: 1em;
  }
}

@media (min-width: 800px) {
  body {
    ::-webkit-scrollbar {
      width: 7px;
      height: 7px;
    }
    ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      background: rgba(211, 206, 170, 0.5);
      -webkit-border-radius: 10px;
      border-radius: 10px;
    }
    ::-webkit-scrollbar-corner {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      background: rgba(211, 206, 170, 0.5);
    }
    ::-webkit-scrollbar-thumb {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background: rgba(66, 66, 66, 0.7);
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
        box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    }
  }
  .hit-the-floor {
    font-size: 2em;
  }
  .image-title h1 {
    font-size: 2.2em;
  }
  .logo {
    -webkit-text-stroke: 0.1em white;
    -o-text-stroke: 0.1em white;
  }
  .map {
    width: 100%;
    height: 100%;
  }
  .image-map {
    justify-content: center;
  }
  .map > img {
    width: 3736px;
    height: 3548.5px;
  }
  .plus, .minus {
    bottom: 3em;
    right: 2em;
    font-size: 1.8rem;
    width: 1.8rem;
    height: 1.8rem;
  }
  .minus {
    bottom: 1.5em;
  }
  .image-big {
    .name {
      width: 30%;
      left: 15vw;
      h2 {
        padding-top: 20vh;
        font-size: 3em;

      }
    }
  }
  .info .text {
    font-size: 1.2em;
  }
}
